---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
     <style>
    aside.sidebar, 
    aside.sidebar .author-bio {
      font-family: "Castoro", serif !important;
      font-size: 16px !important;
      line-height: 1.5 !important;
      color: #333333 !important;
    }
  </style>
  <a href="{{ site.linkedin }}" target="_blank" rel="noopener noreferrer">LinkedIn</a>
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
